* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  transition: all 0.3s ease;
}

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

#not-my-name {
  transition: all 3s ease;
}

h1 span {
  font-family: 'Product Sans';
  font-weight: 800;
}

.red {
  color: #EA4335;
}

.blue {
  color: #4285F4;
}

.green {
  color: #34A853;
}

.yellow {
  color: #FBBC05;
}

.low-heading {
  font-size: 20px;
  font-weight: 100;
}

.tapMe {
  cursor: pointer;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

.container {
  margin: auto;
  padding: 50px;
}

#one-display {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px 200px;
  grid-auto-flow: dense;
}
#one-display .card {
  position: relative;
  overflow: hidden;
  background-color: #66459b;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#one-display .card i {
  font-size: 4em;
}
#one-display .card inset {
  background-color: #000000;
}
#one-display .card .img-span-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .7;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 250ms ease-out;
}
#one-display .card .map {
  width: auto;
  height: 100%;
}
#one-display .card .toggle {
  opacity: .5;
  text-align: right;
  display: none;
  font-weight: lighter;
}
#one-display .card .toggle p {
  font-size: 14px;
}
#one-display .card .timeline {
  z-index: 3;
  margin-left: 10px;
  border-left: 5px solid white;
  min-height: 100px;
}
#one-display .card .timeline .timely {
  box-shadow: 0px 0px 0px 6px #00c9db;
}
#one-display .card .timeline span {
  z-index: 1;
  min-width: 10px !important;
  min-height: 10px !important;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  background-color: #66459b;
}
#one-display .card .timeline .low-heading {
  position: absolute;
  z-index: 300;
  margin-left: 30px;
  transition: all 250ms ease-out;
  font-family: 'Product Sans';
}
#one-display .card .timeline .low-heading-active {
  position: absolute;
  z-index: 300;
  margin-left: 30px;
  transition: all 250ms ease-out;
}
#one-display .card .timeline-end {
  z-index: 3;
  margin-left: 10px;
  border-left: 5px solid white;
  min-height: 1px;
}
#one-display .card .timeline-end span {
  min-width: 10px !important;
  min-height: 10px !important;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  background-color: #66459b;
}
#one-display .card .timeline-end .low-heading {
  position: absolute;
  z-index: 300;
  margin-left: 30px;
  transition: all 250ms ease-out;
  font-family: 'Product Sans';
}
#one-display .card .blog-card__square {
  z-index: 0;
  position: absolute;
  top: -30px;
  left: -30px;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  background: rgba(0, 201, 219, 0.8);
  border-radius: 25px;
}
#one-display .card:hover .blog-card__square {
  -webkit-transform: rotate(70deg) scale(1.95);
  transform: rotate(70deg) scale(1.95);
  border-radius: 15px;
  box-shadow: 0 0 0 30px rgba(0, 201, 219, 0.5), 0 0 0 65px rgba(0, 201, 219, 0.2);
}
#one-display .card:hover .img-span-full {
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  opacity: 1;
  filter: none !important;
}
#one-display .card:hover .map {
  -webkit-transform-origin: 75% 55%;
  transform-origin: 75% 55%;
  -webkit-transform: scale(3);
  transform: scale(3);
}
#one-display .card:hover .toggle {
  tranistion: .3s;
  opacity: 1;
  display: inline-block;
}
#one-display .card:hover .timely {
  box-shadow: 0px 0px 0px 45px #00c9db, 0px 0px 0px 165px rgba(0, 201, 219, 0.5), 0px 0px 0px 310px rgba(0, 201, 219, 0.2);
}
#one-display .card:hover .low-heading-active {
  font-size: 30px;
  line-height: 15px;
  transition: all 250ms ease-out;
}
#one-display .large {
  grid-column: span 2;
  grid-row: span 2;
}
#one-display .long {
  grid-row: span 2;
}
#one-display .long_log {
  grid-row: span 3;
  grid-column: span 2;
}
#one-display .wide {
  grid-column: span 2;
}
#one-display .full {
  grid-column: span 5;
}
#one-display .black {
  background-color: #000000;
}
#one-display .pad-1X {
  padding: 20px;
}
#one-display .left-top {
  justify-content: start;
  align-items: start;
}